<a class="suggestion"
	ng-href="{{suggestion.link}}"
	ng-class="{ 'suggestion-highlighted': vm.isHighlighted(suggestion) }"
	ng-click="vm.handleSuggestionClick(suggestion, $event)"
>
	<zs-icon icon-type="{{suggestion.iconClass}}" ng-show="!!suggestion.iconClass"></zs-icon>
	<div class="suggestion-text">
		<span class="suggestion-text-title" ng-bind-html="suggestion.label"></span>
		<span class="suggestion-text-description" ng-bind-html="suggestion.description"></span>
		<div 
			class="suggestion-text-dossier" 
			ng-if="suggestion.dossier"
			ng-click="vm.handleDossierClick(suggestion.dossier, $event)"
		>
			<span>Onderdeel van dossier {{::suggestion.dossier}}</span>
		</div>
		<div class="suggestion-actions" ng-show="suggestion.actions.length">
			<div 
				class="suggestion-action"
				ng-repeat="action in suggestion.actions track by action.name"
			>
				<button
					type="button"
					ng-click="vm.handleActionClick(suggestion, action, $event)"
					class="btn btn-flat"
				>
				{{action.label}}
				</button>
			</div>
		</div>
	</div>
	<button
		ng-if="suggestion.type !== 'action'"
		ng-click="vm.openInNewWindow(suggestion.link, $event)"
		zs-tooltip="Open in nieuw venster"
		class="btn btn-flat"
	>
		<zs-icon icon-type="open-in-new" ></zs-icon>
	</button>
</a>
