<div
	class="suggestion-list-container"
	zs-keyboard-navigable-list
	highlightable-items="vm.suggestions()"
	key-input-delegate="vm.getKeyInputDelegate()"
	on-key-commit="vm.handleKeyCommit($item, $event)"
	on-key-highlight="vm.handleHighlight($item, $event)"
>

	<div class="suggestion-list-empty ng-cloak" ng-show="!!vm.label">
		{{vm.label}}
	</div>

	<div 
		ng-repeat="groupType in vm.getGroups() track by groupType.name"
	>

		<span class="suggestion-list-group-label" ng-show="!!groupType.label">
			{{groupType.label}}

			<zs-icon
				icon-type="information"
				zs-tooltip="Meer resultaten beschikbaar in externe bron dan hier getoond kunnen worden. Probeer een meer specifieke zoekopdracht."
				ng-if="groupType.moreResults"
			></zs-icon>

		</span>

		<div
			class="suggestion-list-group"
			ng-repeat="group in groupType.groups track by group.type"
		>

			<ul class="suggestion-list">
				<li class="suggestion-list-item"
					ng-repeat="suggestion in group.items track by suggestion.id"
					ng-class="{ 'suggestion-list-item-highlighted': vm.isHighlighted(suggestion) }"
					>
					<button
						class="suggestion"
						type="button" 
						ng-click="vm.handleSuggestionClick(suggestion)"
					>
						<div class="suggestion-label">
							<zs-icon icon-type="{{suggestion.iconClass}}" ng-show="!!suggestion.iconClass"></zs-icon>
							<span class="suggestion-text">{{suggestion.label}}</span>
						</div>
						<div class="suggestion-description" ng-show="suggestion.description">{{suggestion.description}}</div>
					</button>
				</li>
			</ul>

			<button
				class="suggestion-list-group-more-button btn btn-flat"
				type="button"
				ng-click="group.click()"
				ng-disabled="vm.isLoading()"
				ng-show="group.truncated"
			>
				Bekijk meer resultaten
			</button>

		</div>

	</div>


	
</div>
