<ul class="spot-enlighter-menu" data-g-show="entries.length">
	<li data-ng-repeat="entry in entries" class="spot-enlighter-casetype">
		<div class="spot-enlighter-case-title">
            <[entry.values.name]>
		</div>
	</li>
</ul>
