[% USE JSON %]

<div class="kenmerken" class="ztAjaxUpdate ui-accordion-content ui-accordion-taken-kenmerken">

    <div class="inner form">

        <!-- <h2 class="kenmerken-titel">U bekijkt de fase "[% current_phase.fase %]"</h2>
        [% IF zaak.is_afgehandeld %]
        <div class="kenmerken-subtitel">Deze zaak is afgehandeld</div>
        [% ELSIF current_phase.status == zaak.milestone + 1 %]
        <div class="kenmerken-subtitel">Dit is momenteel de actieve fase van deze zaak</div>
        [% ELSIF  current_phase.status <= zaak.milestone %]
        <div class="kenmerken-subtitel">Deze fase is afgerond</div>
        [% ELSE %]
        <div class="kenmerken-subtitel">Deze fase is nog niet actief</div>
        [% END %] -->


        <form action="/zaak/[% zaak.nr %]/" class="webform[% IF c.check_queue_coworker_changes %] ezra_disable_webform_update[% END %]" method="post" enctype="multipart/form-data" id="webform-phase-[% current_phase.status %]" name="caseForm" data-zs-case-webform data-zs-case-webform-params="rule_params" data-zs-case-webform-rules="rules" data-zs-case-webform-locked="[% registration_phase_unlocked ? 'false' : 'true' %]">
            <script type="text/zs-scope-data">
                [% rules = rule_engine({
                        'case' => zaak,
                        'case.number_status' => current_phase.status
                    });

                JSON.encode(rules);
                %]
            </script>

            <div class="formOverlay"></div>
            <input type="hidden" name="fase" value="[% current_phase.status %]" />
            <input type="hidden" name="confirmed_post" value="1" />
            <div class="ztAjaxUpdate_dest webformcontent">
                <div class="spinner-groot">
                    <div>
                        <span class="spinner-groot-message">
                        </span>
                    </div>
                </div>
                
                [% # placeholder for fields %]
                <div class="webform_inner" data-zs-case-webform-inner></div>
                
                <div class="start_zaak_box ng-cloak" data-ng-show="caseWebform.isLoaded()&&caseWebform.isApplicationPaused()">
                   <div class="start_zaak_box_content" data-ng-bind-html="caseWebform.getApplicationPausedMessage()">
                    </div>
                </div>
                
            </div>
        </form>
        <br />
    </div>
</div>
