<div class="block widget-favorites widget-favorites-type-<[type]>" data-ng-controller="nl.mintlab.widget.FavoritesWidgetController">
    <div class="block-header clearfix">
        <div class="block-header-title"><[getTitle()]></div>
    </div>
    <div class="block-content">
    	<div class="widget-favorites-empty" data-ng-show="!loading&&!favorites.length">
    		<[getEmpty()]>
    	</div>
    	<ul class="widget-favorites-list" data-zs-sort>
    		<li class="widget-favorites-list-item" data-ng-include="'/html/widget/favorites/' + type + '-item.html'" data-ng-repeat="item in favorites" data-ng-draggable data-ng-drag-mimetype="zs/favorite" data-zs-sortable="item" data-ng-drag-image="'/html/widget/favorites/favorite-drag.html'">
    		</li>
    	</ul>
    	<div class="widget-favorites-list-add" data-ng-show="isAddSupported()&&favorites.length<maxFavs">
    		<form name="addfavorite">
    			<input type="text" name="newfav" data-zs-form-field data-ng-model="newFav" data-zs-object-required="true" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="type" data-zs-spot-enlighter-label="searchable_object_label" data-zs-placeholder="'Typ om te zoeken'" />
			</form>
    	</div>
        <div class="widget-favorites-more" data-ng-show="hasMoreLink()">
            <a data-ng-href="<[getMoreLink()]>"><[getMoreLabel()]></a>
        </div>
    </div>
    	
</div>

<script type="text/ng-template" id="/html/widget/favorites/casetype-item.html">
	<div class="widget-favorites-list-item-drag">
	</div>
	<div class="widget-favorites-list-item-label">
       <a
            class="ezra_nieuwe_zaak_tooltip-show"
            href="/zaak/create/?prefill_zaaktype_id=<[item.object.zaaktype_node_id.zaaktype_id]>&prefill_zaaktype_name=<[item.object.zaaktype_node_id.titel|urlencode]>&aanvraag_trigger=<[item.object.zaaktype_node_id.trigger]>">
            <i class="mdi mdi-cube icon-green icon-lebensraum"></i><[item.object.zaaktype_node_id.titel]>
        </a>

	</div>
	<div class="widget-favorites-list-item-actions">
		<button data-ng-click="remove(item)">
            <i class="icon icon-font-awesome icon-remove"></i>
		</button>
	</div>
</script>

<script type="text/ng-template" id="/html/widget/favorites/saved_search-item.html">
    <div class="widget-favorites-list-item-drag">
    </div>
    <div class="widget-favorites-list-item-label">
        <i class="mdi mdi-file-find icon-blue icon-lebensraum"></i> <a data-ng-href="/search/#<[item.object.id]>"><[item.object.values.title]></a>
    </div>
    <div class="widget-favorites-list-item-actions" data-ng-show="isAddSupported()">
        <button data-ng-click="remove(item)">
            <i class="icon icon-font-awesome icon-remove"></i>
        </button>
    </div>
</script>

<script type="text/ng-template" id="/html/widget/favorites/favorite-drag.html">
    <div class="widget-favorites-list-item widget-favorites-list-item-drag-ghost">
        <div data-ng-include="'/html/widget/favorites/' + type + '-item.html'">
        </div>
    </div>
</script>
