@import '../../styles/variables.scss';

.modal-content form[name=assignFileForm]{
	width:800px;
}

form[name=assignFileForm] .spot-enlighter-wrapper{
	width:100%;
}

zs-case-intake-action-list{
	display: flex;
	justify-content: flex-end;
	.mdi-account-multiple,
	.mdi-account{
		color:$icon-grey;
		font-size:1.4rem;
		&:hover{
			color:#000;
		}
	}
	.case-intake-action-take-on,
	.case-intake-action-reject {
		margin-left:15px;
		position: relative;
		margin-top:-2px;
		margin-bottom:-2px;
		background: transparent;
		color:#777;
		width:32px;
		height:25px;
		padding:0;
		line-height: 24px;
		text-align: center;
		border:1px solid #bbb;
		&:hover{
			color:#fff;
			background: $primary-color;
			border-color:$primary-color;
		}
	}
	.case-intake-action-take-on{
		border-radius:13px 0 0 13px;
	}
	.case-intake-action-reject{
		border-radius:0 13px 13px 0;
		margin-left:0;
		border-left:none;
	}
}

