<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Deze setting geeft aan welke rol rechten heeft om handtekeningen te uploaden',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
			<label>Rol handtekening uploaden</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<select name="[% parameter %]">
				[% FOREACH role = ['zaaksysteembeheerder', 'behandelaar'] %]
					<option value="[% role %]" [% IF value == role %]selected="selected"[% END %]>[% role | ucfirst %]</option>
				[% END %]
			</select>
		</div>
	</div>
</div>