@import '../../../../shared/styles/variables';

zs-contact-summary{
	display: block;

	.profile-avatar-container{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	.profile-avatar{
		display: flex;
		width: 40px;
		height: 40px;
		border-radius: 100px;
		align-items: center;
		justify-content: center;
		background: #6fc3e6;
		@media #{$medium-large-and-up}{
			width: 100px;
			height:100px;
		}

		.initials{
			font-size: 1.5em;
			color: #fff;
			font-weight: 300;
			line-height: 1em;
			@media #{$medium-large-and-up}{
				font-size: 2.5em;
			}
		}

	}

	h1{
		display: flex;
		font-size: 1.4em;
		font-weight: 400;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		text-align: center;
	}

	.profile-avatar-container-wrapper{

		h1{
			color: #333;
			display: none;
			@media #{$medium-large-and-up}{
				display: flex;
			}
		}

	}

	ul{
		list-style: none;
		margin: 1rem .5rem 1.5rem;

		li{
			display: flex;
			width: 100%;
			text-align: center;
			> span {
				width: 100%;
				white-space: nowrap;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 14px;
				> span{
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		

		a {
			text-decoration: underline;
		}

		zs-icon{
			font-size: 1.35em;
			@media #{$medium-large-and-up}{
				padding-right: 10px;
			}
			

			&.phone{
				color: $yellow;
			}

			&.email{
				color: $green;
			}
		}

	}

	.small {
		ul > li > span > zs-icon {
			padding-left: 16px;
			padding-right: 16px;
		}
	}

}