<!-- WIDGET: betrokkene/natuurlijk_persoon_create -->
[% IF wgt_config.post_button %]
<form
    method="POST"
    action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
    class="submitWaiter zvalidate"
    >
    <input type="hidden" name="referer" value="[% c.req.uri %]" />
    [% IF betrokkene_edit %]
    <input type="hidden" name="betrokkene_edit" value="1" />
    <input type="hidden" name="betrokkene_type" value="[% betrokkene.btype %]" />
    [% END %]
[% END %]
<div class="wgt-betrokkene-natuurlijk_persoon_create zsaction-container">
    <table class="table_zaakinformatie">
        [% IF betrokkene_edit %]
        <tr class="table_zaakinformatie_tr">
            <td class="td300">Authentiek:</td>
            <td>
                [% IF betrokkene.authenticated %]
                    <i class="icon icon-graphic icon-betrokkene-gm"></i>
                [% ELSE %]

                    <i class="icon icon-graphic icon-betrokkene-zs"></i>
                [% END %]
            </td>
            <td class="td300"></td>
        </tr>
        <tr class="table_zaakinformatie_tr">
            <td>Bron:</td>
            <td>
                [% IF betrokkene.authenticated %]
                    GBA
                [% ELSE %]
                    [% betrokkene.authenticatedby %]
                [% END %]
            </td>
            <td></td>
        </tr>
        [% END %]
        <tr>
            <td>BSN:</td>
            <td>
            [%- bsn = betrokkene.burgerservicenummer;
                IF bsn;
                    bsn = bsn FILTER format('%09d');
                END;
            %]
                <input
                    type="text"
                    name="np-burgerservicenummer"
                    class="input_medium"
                    value="[% bsn %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Voornamen:</td>
            <td>
                <input
                    type="text"
                    name="np-voornamen"
                    class="input_medium"
                    value="[% betrokkene.voornamen %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Tussenvoegsel:</td>
            <td>
                <input
                    type="text"
                    name="np-voorvoegsel"
                    class="input_mini"
                    value="[% betrokkene.voorvoegsel %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Achternaam:</td>
            <td>
                <input
                    type="text"
                    name="np-geslachtsnaam"
                    class="input_medium"
                    value="[% betrokkene.geslachtsnaam %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Adellijke titel:</td>
            <td>
                <input
                    type="text"
                    name="np-adellijke_titel"
                    class="input_medium"
                    value="[% betrokkene.adellijke_titel %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Geslacht:</td>
            <td>
                <div class="clearfix">
                    <label>
                        <input
                            type="radio"
                            name="np-geslachtsaanduiding"
                            value="M"
                            [% (betrokkene.geslachtsaanduiding == 'M'
                                ? 'checked="checked"'
                                : ''
                                )
                            %]> Man
                    </label><br/>
                    <label>
                        <input
                            type="radio"
                            name="np-geslachtsaanduiding"
                            value="V"
                            [% (betrokkene.geslachtsaanduiding == 'V'
                                ? 'checked="checked"'
                                : ''
                                )
                            %]> Vrouw
                    </label>
                </div>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland">
            <td>Binnengemeentelijk:</td>
            <td>
                <select name="np-in_gemeente" class="replace-select-start-zaak">
                    <option value="0">Nee</option>
                    <option value="1" [% (betrokkene.in_gemeente ? 'selected="selected"' : '') %]>Ja</option>
                </select>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Land:</td>
            <td>
                <select
                name="np-landcode"
                class="
                zsaction
                zsaction-when-6030-show-binnenland
                zsaction-when-6030-hide-buitenland
                zsaction-whennot-6030-show-buitenland
                zsaction-whennot-6030-hide-binnenland
                replace-select-start-zaak
                ">
                [% FOREACH betrokkene_option IN landcodes %]
                    <option
                    value="[% betrokkene_option.value %]"
                    [% betrokkene.landcode == betrokkene_option.value ? 'selected="selected"' : '' %]
                    >
                        [% betrokkene_option.label %]
                    </option>
                [% END %]
                </select>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland">
            <td>Briefadres:</td>
            <td>
                <select
                name="briefadres"
                class="
                zsaction
                zsaction-when-1-show-correspondentieadres
                zsaction-whennot-1-hide-correspondentieadres
                replace-select-start-zaak
                ">
                    <option
                    value="1"
                    [% betrokkene.functie_adres == 'B' ? 'selected="selected"' : '' %]
                    >
                        Ja
                    </option>
                    <option
                    value="0"
                    [% betrokkene.functie_adres != 'B' ? 'selected="selected"' : '' %]
                    >
                        Nee
                    </option>
                </select>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-verblijfsadres">
            <td><strong>Verblijfsadres:</strong></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-verblijfsadres">
            <td>Postcode:</td>
            <td>
                <input
                    type="text"
                    name="np-postcode"
                    class="input_mini zs-address-autocomplete zs-address-autocomplete-input"
                    value="[% betrokkene.verblijf_postcode %]"> 1234AZ
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-verblijfsadres">
            <td>Huisnummer:</td>
            <td>
                <input 
                    type="text"
                    name="np-huisnummer"
                    class="input_medium zs-address-autocomplete zs-address-autocomplete-input"
                    value="[% betrokkene.verblijf_huisnummer %]"
                >
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-verblijfsadres">
            <td>Huisnummer toevoeging:</td>
            <td>
                <input 
                    type="text"
                    name="np-huisnummertoevoeging"
                    class="input_mini zs-address-autocomplete"
                    value="[% betrokkene.verblijf_huisnummertoevoeging %]"
                >
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-verblijfsadres">
            <td>Straat:</td>
            <td>
                <input
                    type="text"
                    name="np-straatnaam"
                    class="input_medium zs-address-autocomplete zs-address-autocomplete-output"
                    value="[% betrokkene.verblijf_straatnaam %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-verblijfsadres">
            <td>Woonplaats:</td>
            <td>
                <input 
                    type="text"
                    name="np-woonplaats"
                    class="input_medium zs-address-autocomplete zs-address-autocomplete-output"
                    value="[% betrokkene.verblijf_woonplaats %]"
                >
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-correspondentieadres">
            <td><strong>Correspondentieadres:</strong></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-correspondentieadres">
            <td>Postcode:</td>
            <td>
                <input 
                    type="text"
                    name="np-correspondentie_postcode"
                    class="input_mini zs-address-autocomplete zs-address-autocomplete-input"
                    value="[% betrokkene.correspondentie_postcode %]"
                > 1234AZ
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-correspondentieadres">
            <td>Huisnummer:</td>
            <td>
                <input 
                    type="text"
                    name="np-correspondentie_huisnummer"
                    class="input_medium zs-address-autocomplete zs-address-autocomplete-input"
                    value="[% betrokkene.correspondentie_huisnummer %]"
                >
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-correspondentieadres">
            <td>Huisnummer toevoeging:</td>
            <td>
                <input 
                    type="text"
                    name="np-correspondentie_huisnummertoevoeging"
                    class="input_mini zs-address-autocomplete zs-address-autocomplete-input"
                    value="[% betrokkene.correspondentie_huisnummertoevoeging %]"
                >
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-correspondentieadres">
            <td>Straat:</td>
            <td>
                <input
                    type="text"
                    name="np-correspondentie_straatnaam"
                    class="input_medium zs-address-autocomplete zs-address-autocomplete-output"
                    value="[% betrokkene.correspondentie_straatnaam %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-binnenland zsaction-dest-correspondentieadres">
            <td>Woonplaats:</td>
            <td>
                <input
                    type="text"
                    name="np-correspondentie_woonplaats"
                    class="input_medium zs-address-autocomplete zs-address-autocomplete-output"
                    value="[% betrokkene.correspondentie_woonplaats %]"
                >
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-buitenland">
            <td>Adresregel 1:</td>
            <td>
                <input type="text" name="np-adres_buitenland1" class="input_medium" value="[% betrokkene.adres_buitenland1 %]" />
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-buitenland">
            <td>Adresregel 2:</td>
            <td>
                <input type="text" name="np-adres_buitenland2" class="input_medium" value="[% betrokkene.adres_buitenland2 %]" />
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr class="zsaction-dest-buitenland">
            <td>Adresregel 3:</td>
            <td>
                <input type="text" name="np-adres_buitenland3" class="input_medium" value="[% betrokkene.adres_buitenland3 %]" />
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <!--
        <tr>
            <td>Telefoonnummer:</td>
            <td><input type="text" name="npc-telefoonnummer" class="input_medium">[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="npc-email" class="input_medium">[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Mobiel:</td>
            <td><input type="text" name="npc-mobiel" class="input_medium">[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        -->
        <tr>
            <td>Telefoonnummer:</td>
            <td><input type="text" name="npc-telefoonnummer" class="input_medium" value="[% betrokkene.telefoonnummer %]"></td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Mobielnummer:</td>
            <td><input type="text" name="npc-mobiel" class="input_medium" value="[% betrokkene.mobiel %]"></td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="npc-email" class="input_medium" value="[% betrokkene.email %]"></td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        
    </table>
    [% IF wgt_config.post_button %]
        <div class="form-actions">
            
           <input type="submit" value="Bijwerken" class="button button-primary"/>
        </div>
    [% END %]
</div>
[% IF wgt_config.post_button %]
</form>
[% END %]
<!-- END WIDGET: betrokkene/natuurlijk_persoon_create -->
