<a 
	class="case-widget-result-compact-link"
	ng-href="{{::$ctrl.getItem().link}}"
>
	<div class="case-status">
		<zs-case-status-icon
			data-status="$ctrl.getItem().status"
			archival-state="$ctrl.getItem().case.archivalState"
			data-destructable="$ctrl.getItem().destructable"
			data-updates="$ctrl.getItem().numUnacceptedFiles + $ctrl.getItem().numUnacceptedUpdates">
		</zs-case-status-icon>
	</div>
	<div class="case-info">
		<div class="case-label">
			<div class="case-title">
				{{::$ctrl.getItem().number}}: {{::$ctrl.getItem().casetypeName}}
			</div>
			<div class="case-days-left-wrap">
				<span
					class="case-days-left"
					ng-show="$ctrl.getItem().status !== 'resolved' && $ctrl.getItem().status !== 'overgedragen'"
					ng-class="{'urgentie_high': $ctrl.getItem().daysLeft < 0, 'urgentie_low': $ctrl.getItem().daysLeft >= 0 }">
					{{::$ctrl.getItem().daysLeft}}
				</span>
			</div>
		</div>
		<div class="case-description">
			<div class="case-requestor" ng-if="$ctrl.getItem().dateCreated">
				<zs-icon icon-type="calendar"></zs-icon>
				<span>{{::$ctrl.getItem().dateCreated}}</span>
			</div>
			<div class="case-requestor" ng-if="$ctrl.getItem().requestorName">
				<zs-icon icon-type="account"></zs-icon>
				<span>{{::$ctrl.getItem().requestorName}}</span>
			</div>
		</div>
	</div>
</a>