<div class="case-detail-view__header">

	<div class="case-detail-view__header-container">

		<button class="case-detail-view__header-button" ng-click="vm.goBack()">
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>
		<div class="case-detail-view__header-title">
			{{vm.getTitle()}}
		</div>
		
	</div>
	
</div>

<div class="case-detail-view__body">

	<p>Document opslaan als nieuw document in zaak</p>

	<div class="case-detail-view__button-container">
		<button 
			class="btn btn-secondary"
			ng-click="vm.handleSaveClick()"
			ng-if="vm.savedAlready()"
		>
			Opslaan
		</button>
		<button 
			class="btn btn-secondary"
			ng-click="vm.handleSaveAsNewClick(true)"
		>
			Opslaan als nieuw
		</button>
	</div>

	<hr />

	<p>Bestaande documenten in de zaak</p>

	<ul 
		class="case-detail-view__list"
		ng-if="vm.getDocuments().length"
	>
		<li class="case-detail-view__file" ng-repeat="file in vm.getDocuments() track by file.id">
			<span>
				<zs-icon icon-type="file"></zs-icon>
				<div class="case-detail-view__value">{{::file.name}}{{::file.extension}}</div>		
			</span>
		</li>
	</ul>

	<div 
		class="case-detail-view__nofiles"
		ng-if="!vm.getDocuments().length"
	>
		<zs-icon icon-type="file-hidden"></zs-icon>
		Geen .doc of .docx documenten in deze zaak gevonden.
	</div>
</div>
