.import .options{
    position: absolute;
    right:0;
    top: 0;
    padding: 11px 7px 11px 305px;
    opacity: .15;
}

.import .options a{
    float:left;
    width:25px;
    height:25px;
    text-indent: -9999px;
    display: block;
    border:1px solid #7a9a6b;
    border-radius: 3px;
    margin:0 5px;
    background-color:#fff;
    &:hover{border-color:#555;}
    &.active{
        background-color:#8dbd77 !important;
        border-color:#6e8a60 !important;
        opacity: 1;
        :hover{border:1px solid #7a9a6b;}
    }
}

.import .import_item_error{
   .options a{
       border: 1px solid #a58384;
       &.active{
            background-color:#f28484 !important;
            border-color:#927272 !important;
        }
   } 
} 

.import .options{
    a.info{
        background:url(/images/button-info.png) no-repeat center -8px #fff;
    }
    a.revert{
        background:url(/images/button-revert.png) no-repeat center -12px #fff;
    }
}




.import_item_inner:hover .options{opacity:1;}