.import{
    padding-bottom: 20px;
    ul {
        margin-left: 20px;
    }
    thead {
        font-weight: bold;
    }
    .ui-autocomplete-input {
        width: 300px;
    }
    .action input[type=text] {
        width: 300px;
    }
    fieldset{
        margin-bottom: 25px;
    }
    .import-uitleg{
        margin: 0 0 15px;
        line-height: 1.7;
        font-size: 14px;
    }
    .uploadResponse{
        padding:10px 12px;
    }
}

.versiebeheer_tabel{
    margin-bottom: 20px;
}

.import .succes{
    background:url(/images/succes.png) no-repeat 10px 0;
    padding: 0 0 1em 75px;
    font-size: 1.7em;
    color: #007E4F;
    margin: 10px 0 15px;
    line-height: 1.2;
}

.import .error{
    padding:30px 30px 30px 110px;
    background: url(/images/error.png) no-repeat 0 center;
    font-size: 2.25em;
    line-height: 1.6;
    margin-bottom: 15px;
    span{
        font-size: 13px;
        display: block;
    }
}

.import_group{
    margin-bottom:30px;
    //box-shadow: 1px 1px 3px #e8e8e8;
    .import_title{
        //background-image: linear-gradient(top, #FFFFFF, #E9E9E9);
        background-color: #e9e9e9;
        border-color: #bbb;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px 2px 0 0;
        padding: 17px 10px 17px 0px;
        position:relative;
    }
}

.import_group_inner {
    position:relative;
}

.import_group h3{
    font-size: 1.1em;
    position: relative;
    padding-left: 50px;
    margin: 0;
    display: inline-block;
    span{
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        left: 19px;
    }
}

.import_group h3.Zaaktype span{background: url(/images/icon-zaaktype.png) no-repeat scroll 0 0;}
.import_group h3.BibliotheekKenmerken span{background: url(/images/icon-kenmerk.png) no-repeat scroll 0 0;}
.import_group h3.BibliotheekSjablonen span{background: url(/images/icon-sjabloon.png) no-repeat scroll 0 0;}
.import_group h3.Filestore span{background: url(/images/icon-doc.png) no-repeat 0 0;}
.import_group h3.LdapOu span{background: url(/images/icon-organisation.png) no-repeat 0 0;}
.import_group h3.Filestore span{background: url(/images/icon-file-mac.png) no-repeat 0 0;}
.import_group h3.LdapRole span{background: url(/images/icon-user-ldap.png) no-repeat 0 0;}
.import_group h3.ZaaktypeCategorie span{background: url(/images/icon-tag.png) no-repeat 0 0;}
.import_group h3.BibliotheekNotificaties span{background: url(/images/icon-envelope.png) no-repeat 0 0;}
.import_group h3.product span{background: url(../images/icon-kennisbank-product.png) no-repeat 0 0;}
.import_group h3.vraag span{background: url(../images/icon-kennisbank-vraag.png) no-repeat 0 0;}

.import .spinner-klein{
    background-image: url(/images/ajax-loader-green.gif);
}

.import .import_item_error .spinner-klein{
    background-image: url(/images/ajax-loader-red.gif);
}
