
<div class="pdc-nav__pusher"></div>

<div class="pdc-nav__container"
	ng-style="pdcNav.getBgContainerStyle()"
	>

	<div class="pdc-nav__bg" ng-style="pdcNav.getContainerStyle()">
	</div>

	<div class="pdc-nav__title">
		<h1>{{pdcNav.getViewportTitle()}}</h1>
	</div>

	<div class="pdc-nav__tabs">
		<a 
			ui-sref-active="active" 
			ui-sref="objectList({ objectType: tab.object.object_type})"
			ng-repeat="tab in pdcNav.getTabs() track by tab.id"
		>
			<span>{{::tab.label}}</span>

		</a>
		<div class="pdc-nav__tabs-slidecontainer">
			<div class="pdc-nav__tabs-slide"></div>
		</div>
	</div>

</div>
