<div class="progress">
	<div class="progress-bar holder rounded">
		<div class="progress-value value rounded" data-zs-style="width: <[progress|number:0]>%;">
			<div class="perc"><[progress|number:0]>%</div>
		</div>
	</div>
</div>