<div class="object-detail-view__header" ng-style="{ 'background-color': objectDetailView.getStyle()['background-color'] }">

	<div class="object-detail-view__header-container">

		<button class="object-detail-view__header-button" ng-click="objectDetailView.goBack()">
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>
		<div class="object-detail-view__header-title">
			{{objectDetailView.getTitle()}}
		</div>
		
	</div>
	
</div>

<div class="object-detail-view__body">

	<div class="object-detail-view__buttons">
		<div ng-repeat="buttonGroup in objectDetailView.getButtons() track by buttonGroup.id">
			<a 
				ng-repeat="button in buttonGroup.buttons track by button.id"
				ng-href="{{button.link}}"
				class="btn btn-primary object-detail-view__aanvraagbutton"
				target="_blank"
			>
				{{::button.label}}
			</a>
		</div>
	</div>

	<ul class="object-detail-view__list">
		<li 
			class="object-detail-view__item"
			ng-repeat="field in objectDetailView.getFields() track by field.id"
		>
			<div class="object-detail-view__label">{{::field.label}}</div>
			<div class="object-detail-view__value" ng-bind-html="field.template"></div>
		</li>
	</ul>

</div>
