@import "partials/koppelingen/koppelingen-config";
@import "partials/koppelingen/koppelingen-mapping";
@import "partials/koppelingen/koppelingen-transacties";
@import "partials/koppelingen/koppelingen-mutaties";
@import "partials/koppelingen/koppelingen-test-dialog";

.object-subscription-view{
	padding:12px 0px;
}

.object-subscription-view-title{
	padding:12px 0px 5px;
	font-size:1.2em;
}

.object-subscription-external-id {
	margin-right: 10px;
}

.sysin-search-single .detail-view-field-afnemerindicatie {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 0px 0 20px;
	font-weight: 600;
}

.sysin-datastore-header {
	padding:0 0 20px;
}

.sysin-datastore-header-select {
	margin-right: 10px;
	padding: 5px;
	margin-top: 1px;
}

.sysin-datastore-crud {
	overflow-x: auto;
	.form-fieldset-children{
		display: flex;
		flex-wrap:wrap;
		align-items:center;
		flex-grow:0;
		width:100%;
		font-size:.85rem;
		.form-field{
			margin-bottom:5px;
			margin-top:5px;
			margin-right:10px;
		}
	}
	.form-field-value, .form-field-input-wrapper{
		display: inline-block;
		width:auto;
	}
	.form-field-name-freeform_filter input[type="text"]{
		padding:5px 5px 5px 26px;
	}
}