<div class="confirm-label">
	{{vm.label}}
</div>

<div class="confirm-actions form-actions">

	<button data-name="cancel" type="button" class="cancel-button btn btn-flat" ng-click="vm.onCancel()">
		Annuleren
	</button>

	<button data-name="confirm" type="button" class="confirm-button btn btn-flat" ng-click="vm.onConfirm()">
		{{vm.verb}}
	</button>

</div>

